<nav class="navbar bg-dark">
    

    <ul class="nav">
        <li class="nav-item"><a class="nav-link"a style="color:green;" href="#">
            hulu
        </a></li>
    </ul>

<ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" href="#">
        Home
    </a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">
        TV
    </a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">
        Movies
    </a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">
        Sports
    </a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">
        My Stuff
    </a></li>
    <li class="nav-item"><a class="nav-link text-white" href="#">
        Hubs
    </a></li>
</ul>

<ul class="nav">
    <li class="nav-item"><a class="nav-link text-white" href="#">
        Search
    </a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" a style="color: white">
        Profile
    </a></li>
</ul>

\</nav>