<nav class="navbar bg-dark" width="800">
    <img src="./assets/hulu-logo.png" width="100" length="50">
    
<ul class="nav nav-pills">
    <li class="nav-item">
        <a routerLink="/home" class="nav-link text-white active" href="">
        HOME
    </a></li>

    <li class="nav-item">
        <a routerLink="/TV" class="nav-link text-white active" href="">
        TV
    </a></li>

    <li class="nav-item">
        <a routerLink="movies" class="nav-link text-white active" href="">
        MOVIES
    </a></li>

    <li class="nav-item">
        <a routerLink="/sports" class="nav-link text-white active" href="">
        SPORTS
    </a></li>

    <li class="nav-item">
        <a class="nav-link text-white active" href="#">
        MY STUFF
    </a></li>

    <li class="nav-item">
        <a class="nav-link text-white active" href="#">
        HUBS
    </a></li>

</ul>

<ul class="nav">
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
        </a>
    </li> 

      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" a style="color: white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
    </a></li>
</ul>
</nav>