<div class="card" style="width: 28rem;" >
    <img class="card-img-top" img src="assets/Vacation-Friends.-Credit-Hulu-1200x675.jpeg" alt="Card image cap">
  </div>
  
  <div class="card" style="width: 28rem;" >
    <img class="card-img-top" img src="assets/a4d96c8d-ba7d-4d99-b4b3-942ecde47282.jpeg" alt="Card image cap">
  </div>

  <div class="card" style="width: 28rem;" >
    <img class="card-img-top" img src="assets/71ec4528-cfe0-409c-accb-d1bb42c13db9.jpeg" alt="Card image cap">
  </div>

  <div class="card" style="width: 28rem;" >
    <img class="card-img-top" img src="assets/684226fa-76a3-4178-a2b5-929059d1c0ab.jpeg" alt="Card image cap">
  </div>