<app-card>Loading card</app-card>
<app-body>Loading body</app-body>
<app-carousel>Loading carousel</app-carousel>
<app-carousel2>Loading 2nd carousel</app-carousel2>

<div class="container">
    <div class="row">
        <div class="col">
            
              
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
           
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
</div>