<div class="container">
    <div class="row">
        <div class="col">
            <app-card>Loading card</app-card>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col" style="background-color: orange">
            Main content
        </div>
        <div class="col" style="background-color: red">
            Main content
        </div>
        <div class="col" style="background-color: rgb(49, 0, 128)">
            Main content
        </div>
        <div class="col" style="background-color: green">
            Main content
        </div>
    </div>
</div>