<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-10" src="./assets/ed7ccbcd-ec69-4a0c-adb8-d6997906fb82.jpeg" alt="">
      </div>
      <div class="carousel-item">
        <img class="d-block w-10" src="./assets/1595c669-c7d5-4edd-b6d5-3aafefc22b29.jpeg" alt="">
      </div>
      <div class="carousel-item">
        <img class="d-block w-10" src="./assets/fabc8db2-489e-468a-a794-9d17e68f2d46.jpeg" alt="">
      </div>
      <div class="carousel-item">
        <img class="d-block w-10" src="./assets/36c01be2-e036-46d9-9da2-522bfd12b54f.jpeg" alt="">
      </div>
      <div class="carousel-item">
        <img class="d-block w-10" src="./assets/8ec43e87-4517-416b-bed6-450298bec227.jpeg" alt="">
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>