  <div id="carouselExampleIndicators" class="carousel slide body-padding" data-bs-ride="carousel">

    <div class= "carousel-inner">
      <div class= "carousel-item active" >
        <div class= "carousel-container container-fluid row">
          <div class= "col">
  
            <div class= "card mb-2 border-0">
              <img class= "card-img-top" src="./assets/ed7ccbcd-ec69-4a0c-adb8-d6997906fb82.jpeg"
                   alt= "Card image cap">
              <div class= "card-body">
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/1595c669-c7d5-4edd-b6d5-3aafefc22b29.jpe"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/fabc8db2-489e-468a-a794-9d17e68f2d46.jpeg"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/36c01be2-e036-46d9-9da2-522bfd12b54f.jpeg"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
  
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000000">
        <div class=" carousel-container container-fluid row">
          <div class="col">
  
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/8ec43e87-4517-416b-bed6-450298bec227.jpeg"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/71ec4528-cfe0-409c-accb-d1bb42c13db9.jpeg"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/71ec4528-cfe0-409c-accb-d1bb42c13db9.jpeg"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card mb-2 border-0">
              <img class="card-img-top" src="./assets/71ec4528-cfe0-409c-accb-d1bb42c13db9.jpeg"
                   alt="Card image cap">
              <div class="card-body">
              </div>
            </div>
          </div>
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>